@charset "UTF-8";

body {
    padding: 0 20px 20px;
}

/* ----------------------------------------------------------
  Basic style
---------------------------------------------------------- */

.logo {
    margin: 20px 0;
    font-size: 20px;
    font-weight: bold;
}

/* ----------------------------------------------------------
  Fixes
---------------------------------------------------------- */

.no-display {
    z-index: 1;
    position: absolute;
    top: -9999px;
    left: -9999px;
    opacity: 0.01;
    filter: alpha(opacity=01);
}

/* ----------------------------------------------------------
  Forms
---------------------------------------------------------- */

.checked-box .input-box {
    display: inline-block;
    vertical-align: middle;
}

.fake-inputbox-wrapper {
    vertical-align: -3px;
}

.fake-inputbox-wrapper + label {
    margin-left: 3px;
}

/* ----------------------------------------------------------
  Main menu
---------------------------------------------------------- */

.nav-container {
    z-index: 3;
    position: relative;
    margin-bottom: 30px;
    font-size: 0;
    background-color: #F0F0F0;
}

.nav-container li.level0 {
    display: inline-block;
    z-index: 1;
    position: relative;
    font-size: 13px;
    vertical-align: middle;
}

.nav-container li.level0 + li.level0 {
    margin-left: 10px;
}

.nav-container li.level0 > a {
    display: block;
}

.nav-container ul.level0 {
    visibility: hidden;
    z-index: 1;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 150px;
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.nav-container .over > ul.level0 {
    visibility: visible;
    opacity: 0.99;
}

/* ----------------------------------------------------------
  Catalog
---------------------------------------------------------- */

.ig-products-list {
    z-index: 1;
    position: relative;
    margin-right: -20px;
    font-size: 0;
    background-color: #F6F6F6;
}

.ig-products-list > li {
    display: inline-block;
    width: 200px;
    margin: 0 20px 20px 0;
    font-size: 10px;
    vertical-align: top;
    background-color: #fff;
}