@charset "UTF-8";

/* ----------------------------------------------------------
  Toolbar
---------------------------------------------------------- */

.header-toolbar .form-language,
.header-toolbar {
    height: 30px;
    line-height: 30px;
}

.header-toolbar {
    text-align: right;
    font-size: 0;
    background-color: #f0f0f0;
}

.header-toolbar .form-language {
    float: left;
    padding: 0 10px;
    font-size: 12px;
}

.toolbar-element {
    display: inline-block;
    font-size: 12px;
    vertical-align: 0;
}

.toolbar-element > a {
    padding: 0 10px;
}

.toolbar-element .submenu {
    padding: 10px;
    min-width: 200px;
    text-align: left;
    background-color: #F0F0F0;
}

/* ----------------------------------------------------------
  Logo
---------------------------------------------------------- */

.logo {
    margin: 20px 0;
    font-size: 20px;
    font-weight: bold;
}

/* ----------------------------------------------------------
  Main title
---------------------------------------------------------- */

.page-title .main-title {
    z-index: 1;
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
}

.page-title .main-title:after {
    content: '';
    z-index: 1;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    width: 60px;
    height: 6px;
    margin: auto;
    background-color: #000;
}

/* ----------------------------------------------------------
  Search
---------------------------------------------------------- */

/* Form
-------------------------- */

.search_mini_form {
    z-index: 10;
    position: relative;
    padding-right: 85px;
    max-width: 500px;
}

.search_mini_form button {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
}

/* Autocomplete
-------------------------- */

.search_mini_form .search-autocomplete {
    z-index: 1;
    position: absolute;
    top: 100%!important;
    left: 0!important;
    border: 1px solid #999;
    border-top: 0;
    background-color: #fff;
}

.search_mini_form .search-autocomplete ul {
    padding: 5px 0;
}

.search_mini_form .search-autocomplete li {
    padding: 0 5px;
    cursor: pointer;
}

.search_mini_form .search-autocomplete li:hover {
    background-color: #F0F0F0;
}

.search_mini_form .search-autocomplete .amount {
    margin-right: 5px;
    font-weight: bold;
}