@charset "UTF-8";

/* ----------------------------------------------------------
  Main menu
---------------------------------------------------------- */

.nav-container {
    z-index: 3;
    position: relative;
    margin-bottom: 30px;
    font-size: 0;
    background-color: #F0F0F0;
}

.nav-container li.level0 {
    display: inline-block;
    z-index: 1;
    position: relative;
    font-size: 13px;
    vertical-align: middle;
}

.nav-container li.level0 + li.level0 {
    margin-left: 10px;
}

/* Link
-------------------------- */

.nav-container li.level0 > a {
    display: block;
}

/* Submenu
-------------------------- */

.nav-container ul.level0 {
    visibility: hidden;
    z-index: 1;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 150px;
    opacity: 0;
    background-color: #fff;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.nav-container .over > ul.level0 {
    visibility: visible;
    opacity: 0.99;
}