@charset "UTF-8";

/* ----------------------------------------------------------
  Basic style
---------------------------------------------------------- */

.logo {
    margin: 20px 0;
    font-size: 20px;
    font-weight: bold;
}

/* ----------------------------------------------------------
  Fixes
---------------------------------------------------------- */

.no-display {
    z-index: 1;
    position: absolute;
    top: -9999px;
    left: -9999px;
    opacity: 0.01;
    filter: alpha(opacity=01);
}

/* ----------------------------------------------------------
  Forms
---------------------------------------------------------- */

.checked-box .input-box {
    display: inline-block;
    vertical-align: middle;
}