@charset "UTF-8";

/* ----------------------------------------------------------
  Default
---------------------------------------------------------- */

.logo {
    margin: 20px 0;
    font-size: 20px;
    font-weight: bold;
}

/* ----------------------------------------------------------
  Forms
---------------------------------------------------------- */

.checked-box .input-box {
    display: inline-block;
    vertical-align: middle;
}