[submodule "tools/InteGentoEmailTester"]
	path = tools/InteGentoEmailTester
	url = git@github.com:Darklg/InteGentoEmailTester.git
[submodule "tools/InteGentoMageTools"]
	path = tools/InteGentoMageTools
	url = git@github.com:Darklg/InteGentoMageTools.git
[submodule "skin/frontend/integento/default/scss/integento"]
	path = skin/frontend/integento/default/scss/integento
	url = git@github.com:Darklg/InteGentoStyles.git
[submodule "skin/frontend/integento/default/scss/csscommon"]
	path = skin/frontend/integento/default/scss/csscommon
	url = git@github.com:Darklg/SassCSSCommon.git
