<!--@subject Password Reset Confirmation for {{var customer.name}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/resetpassword/\" _query_id=$customer.id _query_token=$customer.rp_token":"Reset Password URL"}
@-->

<!--@styles
body,td {  font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

{{block type="core/template" headertitle="" headersubtitle="" template="email/header.phtml"}}

<h1>Hallo {{htmlescape var=$customer.name}},</h1>
<p>Wir haben vor kurzem eine Bitte erhalten, das Kennwort zu Ihrem Konto zu ändern.</p>
<p>Wenn Sie diese Änderung verlangt haben, klicken Sie bitte auf den folgenden Link, um Ihr Kennwort neu einzustellen: <a href="{{store url="customer/account/resetpassword/" _query_id=$customer.id _query_token=$customer.rp_token}}">{{store url="customer/account/resetpassword/" _query_id=$customer.id _query_token=$customer.rp_token}}</a></p>
<p>Wenn das nicht funktioniert, dann kopieren Sie bitte die URL-Adresse und fügen sie in der Adresszeile Ihres Browsers ein.</p>
<br />
<p>Wenn Sie diese Änderung nicht verlangt haben, dann irgnorieren Sie bitte diese Nachricht und Ihr Kennwort wird unverändert bleiben.</p>

{{block type="core/template" template="email/footer.phtml"}}
