<!--@subject Welcome, {{var customer.name}}! @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/\"":"Customer Account Url",
"var customer.email":"Customer Email",
"htmlescape var=$customer.password":"Customer Password"}
@-->

<!--@styles
body,td {  font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

{{block type="core/template" headertitle="" headersubtitle="" template="email/header.phtml"}}
<h1>Sehr geehrte(r) {{htmlescape var=$customer.name}},</h1>
<p>Herzlich willkommen beim {{var store.getFrontendName()}}. Für die&#8201;Anmeldung bei Ihrem&#8201;Besuch auf unserer Website klicken Sie einfach oben auf einer beliebigen Seite auf <a href="{{store url="customer/account/"}}">Anmelden</a> oder auf <a href="{{store url="customer/account/"}}">Mein Konto</a> und geben Sie dann Ihre E-Mail-Adresse und Ihr Passwort ein.</p>
<p>
    Geben&#8201;Sie die folgenden Werte ein, wenn Sie zur Anmeldung aufgefordert werden:<br/>
    <strong>E-Mail-Adresse</strong>: {{var customer.email}}<br/>
    <strong>Passwort</strong>: {{htmlescape var=$customer.password}}<p>
<p>Wenn&#8201;Sie sich bei Ihrem Konto anmelden, können Sie:</p>
<ul>
    <li>&ndash; – Ihren Einkauf schneller an der Kasse abwickeln</li>
    <li>&ndash; – Den Status Ihrer Bestellungen überprüfen</li>
    <li>&ndash; – Frühere Bestellungen anzeigen</li>
    <li>&ndash; – Ihre Kontodaten ändern</li>
    <li>&ndash; – Ihr Passwort ändern</li>
    <li>&ndash; – Zusätzliche Adressen speichern (für die Lieferung an verschiedene Familienangehörige und Freunde!)</li>
</ul>
<p>Bei Fragen zu Ihrem Konto oder sonstigen Anliegen dürfen Sie sich jederzeit gerne an uns wenden unter <a href="mailto:{{config path='trans_email/ident_support/email'}}">{{config path='trans_email/ident_support/email'}}</a> oder telefonisch unter der Rufnummer {{config path='general/store_information/phone'}}.</p>

{{block type="core/template" template="email/footer.phtml"}}
