@charset "UTF-8";

/* ----------------------------------------------------------
  Items
---------------------------------------------------------- */

.cart-table {
    margin-bottom: 20px;
    table-layout: fixed;
}

.cart-table td {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #F0F0F0;
    vertical-align: middle;
}

/* Columns
-------------------------- */

.td-product-qty,
.td-product-image {
    width: 100px;
}

.td-product-details {
    padding-left: 20px;
}

.td-product-subtotal {
    width: 100px;
    text-align: right;
}

/* Options
-------------------------- */

.cart-table .item-options dt {
    float: left;
    font-weight: bold;
}

.cart-table .item-options dt:after {
    content: ': ';
    margin: 0 4px 0 1px;
}

.cart-table .item-options dd {
    display: block;
}

/* Subtotal
-------------------------- */

.product-subtotal {
    z-index: 1;
    position: relative;
    min-height: 60px;
    line-height: 60px;
}

.product-subtotal .btn-remove {
    @extend .cssc-btn;
    @include retina-sprite(icn-x);
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    line-height: 10px;
}

/* ----------------------------------------------------------
  Coupon
---------------------------------------------------------- */

.discount-coupon-form {
    margin-bottom: 10px;
}

.discount-coupon-form label {
    display: block;
    margin-bottom: 5px;
    font-size: 12px;
    cursor: pointer;
}

.discount-coupon-form .input-box,
.discount-coupon-form .buttons-set {
    display: inline-block;
    max-width: 150px;
    vertical-align: middle;
}

/* ----------------------------------------------------------
  Totals
---------------------------------------------------------- */

.shopping-cart-totals-table {
    margin-bottom: 20px;
    table-layout: fixed;
}

.shopping-cart-totals-table th,
.shopping-cart-totals-table td {
    padding: 5px 0;
    border-bottom: 1px solid #CCC;
    font-size: 13px;
    font-weight: normal;
    line-height: 1.3;
    white-space: nowrap;
}

.shopping-cart-totals-table th + th,
.shopping-cart-totals-table td + td {
    text-align: right;
}

.shopping-cart-totals-table tfoot tr:last-child th,
.shopping-cart-totals-table tfoot tr:last-child td {
    font-size: 20px;
}