@charset "UTF-8";

/* ----------------------------------------------------------
  Config
---------------------------------------------------------- */

/* Vars
-------------------------- */

$color-main: #000;

/* Directories
-------------------------- */

$sprites: sprite-map("sprites/*.png");       /* :) */
$sprites2x: sprite-map("sprites-2x/*.png");  /* :) */

/* ----------------------------------------------------------
  Utilities
---------------------------------------------------------- */

@import "utilities/_plugins.scss";
@import "utilities/_retina-sprites.scss";

/* ----------------------------------------------------------
  CSSCommon
---------------------------------------------------------- */

@import "csscommon/_cssc-default.scss";
@import "csscommon/_cssc-common.scss";
@import "csscommon/_cssc-content.scss";
@import "csscommon/_cssc-buttons.scss";
@import "csscommon/_cssc-forms.scss";
@import "csscommon/_cssc-grid.scss";

/* ----------------------------------------------------------
  Magento
---------------------------------------------------------- */

@import "magento/_default.scss";
@import "magento/_cart.scss";
@import "magento/_catalog.scss";
@import "magento/_checkout.scss";
@import "magento/_customer.scss";
@import "magento/_messages.scss";
@import "magento/_main-menu.scss";

/* ----------------------------------------------------------
  Base
---------------------------------------------------------- */
