@charset "UTF-8";

/* ----------------------------------------------------------
  Config
---------------------------------------------------------- */

/* Vars
-------------------------- */

$color-main: #000;
$font-size: 13px;

/* Breakpoints
-------------------------- */

$mobile-max: 767px;
$tablet-min: 768px;
$tablet-max: 1023px;
$desktop-min: 1024px;
$desktop-mid: 1199px;
$desktop-max: 1399px;
$large-min: 1400px;

$mobile_only: "max-width:"+$mobile-max;
$mobile_excluded: "min-width:"+$tablet-min;
$desktop_excluded: "max-width:"+$tablet-max;
$desktop_only: "min-width:"+$desktop-min;
$large_excluded: "max-width:"+$desktop-max;
$large_only: "min-width:"+$large-min;

/* Directories
-------------------------- */

$sprites: sprite-map("sprites/*.png");       /* :) */
$sprites2x: sprite-map("sprites-2x/*.png");  /* :) */

/* ----------------------------------------------------------
  Utilities
---------------------------------------------------------- */

@import "utilities/_retina-sprites.scss";

/* ----------------------------------------------------------
  CSSCommon
---------------------------------------------------------- */

@import "csscommon/components/default";
@import "csscommon/components/common";
@import "csscommon/components/common/blockmedia";
@import "csscommon/components/common/codepresentation";
@import "csscommon/components/common/drawers";
@import "csscommon/components/common/imagereplace";
@import "csscommon/components/common/messages";
@import "csscommon/components/content";
@import "csscommon/components/buttons/core";
@import "csscommon/components/forms/core";
@import "csscommon/components/grid";
@import "csscommon/components/print";
@import "csscommon/components/tables";
@import "csscommon/components/push";

/* ----------------------------------------------------------
  Project
---------------------------------------------------------- */

@import "integento/integento";

/* Base
-------------------------- */

@import "project/_base.scss";
@import "project/base/_forms.scss";
@import "project/base/_forms-plugins.scss";

/* Layout
-------------------------- */

@import "project/layout/_header.scss";
@import "project/layout/_main-menu.scss";
@import "project/layout/_footer.scss";

/* Catalog
-------------------------- */

@import "project/_catalog.scss";

/* Cart
-------------------------- */

@import "project/checkout/_cart.scss";
@import "project/checkout/_checkout.scss";

/* Customer
-------------------------- */

@import "project/_customer.scss";
