@charset "UTF-8";

/* ----------------------------------------------------------
  Config
---------------------------------------------------------- */

/* Vars
-------------------------- */

$color-main: #000;

/* Directories
-------------------------- */

$sprites: sprite-map("sprites/*.png");       /* :) */
$sprites2x: sprite-map("sprites-2x/*.png");  /* :) */

/* ----------------------------------------------------------
  Utilities
---------------------------------------------------------- */

@import "utilities/_retina-sprites.scss";

/* ----------------------------------------------------------
  CSSCommon
---------------------------------------------------------- */

@import "csscommon/_cssc-default.scss";
@import "csscommon/_cssc-common.scss";
@import "csscommon/_cssc-content.scss";
@import "csscommon/_cssc-buttons.scss";
@import "csscommon/_cssc-forms.scss";
@import "csscommon/_cssc-grid.scss";

/* ----------------------------------------------------------
  Project
---------------------------------------------------------- */

/* Base
-------------------------- */

@import "project/_base.scss";
@import "project/base/_forms.scss";
@import "project/base/_forms-plugins.scss";
@import "project/base/_messages.scss";

/* Layout
-------------------------- */

@import "project/layout/_header.scss";
@import "project/layout/_main-menu.scss";
@import "project/layout/_footer.scss";

/* Catalog
-------------------------- */

@import "project/_catalog.scss";

/* Cart
-------------------------- */

@import "project/checkout/_cart.scss";
@import "project/checkout/_checkout.scss";

/* Customer
-------------------------- */

@import "project/_customer.scss";
