@charset "UTF-8";

body {
    padding: 0 20px 20px;
}

/* ----------------------------------------------------------
  Fixes
---------------------------------------------------------- */

/* Hide an element
-------------------------- */

.no-display {
    z-index: 1;
    position: absolute;
    top: -9999px;
    left: -9999px;
    opacity: 0.01;
    filter: alpha(opacity=01);
}

/* Remove an element
-------------------------- */

@media(max-width:$mobile-max) {
    .mobile-hide {
        display: none;
    }
}

@media(max-width:$tablet-max) {
    .only-desktop {
        display: none;
    }
}

/* ----------------------------------------------------------
  Breadcrumbs
---------------------------------------------------------- */

.breadcrumbs {
    min-height: 30px;
}

.breadcrumbs li {
    float: left;
    line-height: 30px;
}

.breadcrumbs li + li:before {
    content: '/';
    margin: 0 5px;
}

/* ----------------------------------------------------------
  Pager
---------------------------------------------------------- */

.pager {
    margin-bottom: 20px;
}

.pager * {
    display: inline-block;
    font-size: 13px;
    line-height: 20px;
    vertical-align: 0;
}

.pager img {
    vertical-align: middle;
}

.pager ol li.current,
.pager ol a {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    outline: 1px solid #f0f0f0;
}

/* ----------------------------------------------------------
  Price box
---------------------------------------------------------- */

.price-box *,
.price-box {
    font-size: 12px;
}

.price-box p {
    display: inline;
}

.price-box .price-label {
    display: none;
}

.price-box .old-price {
    text-decoration: line-through;
}

/* ----------------------------------------------------------
  Options
---------------------------------------------------------- */

dl.item-options {
    overflow: hidden;
    text-align: left;
}

dl.item-options dt {
    float: left;
}

dl.item-options dt:after {
    content: ':';
    margin: 0 3px;
}