@charset "UTF-8";

body {
    padding: 0 20px 20px;
}

/* ----------------------------------------------------------
  Fixes
---------------------------------------------------------- */

/* Hide an element
-------------------------- */

.no-display {
    z-index: 1;
    position: absolute;
    top: -9999px;
    left: -9999px;
    opacity: 0.01;
    filter: alpha(opacity=01);
}

/* Remove an element
-------------------------- */

.lt_ie10 .mobile-only {
    display: none;
}

@media(min-width:$tablet-min) {
    .mobile-only {
        display: none;
    }
}

@media(max-width:$mobile-max) {
    .mobile-hide {
        display: none;
    }
}

@media(max-width:$tablet-max) {
    .only-desktop {
        display: none;
    }
}

/* ----------------------------------------------------------
  Default behavior
---------------------------------------------------------- */

.col2-set {
    @extend .col2-set--base;
}

