@charset "UTF-8";

/* ----------------------------------------------------------
  Catalog : List
---------------------------------------------------------- */

.ig-products-list {
    z-index: 1;
    position: relative;
    margin-right: -20px;
    font-size: 0;
    background-color: #F6F6F6;
}

.ig-products-list > li {
    display: inline-block;
    width: 200px;
    margin: 0 20px 20px 0;
    font-size: 10px;
    vertical-align: top;
    background-color: #fff;
}

/* Item
-------------------------- */

.product-item {
    padding: 15px;
    text-align: center;
}
