@charset "UTF-8";

/*
Name: Common Objects
URL: http://github.com/Darklg/CSSCommon
Version: 2.5.2
License: MIT
*/

/* ----------------------------------------------------------
  Automatic ellipsis "..." if content is more than one line
---------------------------------------------------------- */

.cssc-oneline {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}

/* ----------------------------------------------------------
  Removing an element
---------------------------------------------------------- */

.cssc-remove-element-children > *,
.cssc-remove-element {
    z-index: 0;
    position: absolute;
    top: -9999px;
    left: -9999px;
    font-size: 1px;
    color: transparent;
    opacity: 0.001;
}

/* ----------------------------------------------------------
  Gallery
---------------------------------------------------------- */

.subfloat {
    position: relative;
}

.subfloat > * {
    float: left;
}

/* margin-right = 0-marge droite d'un élément */

.sf_100_20 {
    margin-right: -20px;
}

.sf_100_20 > * {
    width: 100px;
    margin: 0 20px 20px 0;
}

/* ----------------------------------------------------------
  Panel
---------------------------------------------------------- */

.cssc-panel {
    z-index: 1;
    position: relative;
    overflow: hidden;
}

/* Theme
-------------------------- */

.cssc-panel--default {
    padding: 10px;
    border: 1px solid #e0e0e0;
    background-color: #f0f0f0;
}