@charset "UTF-8";

/* ----------------------------------------------------------
  Layout
---------------------------------------------------------- */

body {
    margin: 0 auto;
    padding: 10px;
    max-width: 980px;
}