@charset "UTF-8";

/* ----------------------------------------------------------
  Hover effects
---------------------------------------------------------- */

/* Inverted hover
-------------------------- */

.cssc-inverted-hover:hover a:hover,
.cssc-inverted-hover a {
    color: #369;
}

.cssc-inverted-hover:hover a {
    color: #999;
}

/* Inverted hover on images
-------------------------- */

.cssc-inverted-hover--images:hover a:hover img,
.cssc-inverted-hover--images a img {
    opacity: 0.999;
    filter: alpha(opacity=99);
}

.cssc-inverted-hover--images:hover a img {
    opacity: 0.30;
    filter: alpha(opacity=30);
}

/* Colorized hover
-------------------------- */

.cssc-colorized-hover .animate-me {
    display: inline-block;
    z-index: 1;
    position: relative;
    line-height: 1;
    vertical-align: middle;
}

.cssc-colorized-hover .animate-me img {
    opacity: 0.999;
    filter: alpha(opacity=999);
}

.cssc-colorized-hover .animate-me .color {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
}

.cssc-colorized-hover .animate-me .gray {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogPGZpbHRlciBpZD0iZ3JheXNjYWxlIj4KICA8ZmVDb2xvck1hdHJpeCB0eXBlPSJtYXRyaXgiIHZhbHVlcz0iMC4zMzMzIDAuMzMzMyAwLjMzMzMgMCAwIDAuMzMzMyAwLjMzMzMgMC4zMzMzIDAgMCAwLjMzMzMgMC4zMzMzIDAuMzMzMyAwIDAgMCAwIDAgMSAwIi8+CiA8L2ZpbHRlcj4KPC9zdmc+#grayscale);
}

.cssc-colorized-hover .animate-me:hover .color {
    opacity: 0.999;
    filter: alpha(opacity=99);
}

/* Unblur hover
-------------------------- */

.cssc-unblur-hover .animate-me {
    display: inline-block;
    z-index: 1;
    position: relative;
    overflow: hidden;
    line-height: 1;
    vertical-align: middle;
    outline: 1px solid rgba(0,0,0,0.01);
}

.cssc-unblur-hover .animate-me img {
    opacity: 0.999;
    filter: alpha(opacity=999);
}

.cssc-unblur-hover .animate-me .clean {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
}

.cssc-unblur-hover .animate-me .blur {
    -webkit-filter: blur(1px);
    filter: blur(1px);
    filter: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxmaWx0ZXIgaWQ9ImJsdXIiPgo8ZmVHYXVzc2lhbkJsdXIgc3RkRGV2aWF0aW9uPSIxIiAvPgo8L2ZpbHRlcj4KPC9zdmc+#blur);
}

.cssc-unblur-hover .animate-me:hover .clean {
    opacity: 0.999;
    filter: alpha(opacity=99);
}

/* Rotating cards
-------------------------- */

.cssc-card {
    display: inline-block;
    z-index: 1;
    position: relative;
    vertical-align: middle;
    -webkit-transform: translatez(0);
    -moz-transform: translatez(0);
    transform: translatez(0);
    -webkit-perspective: 500px;
    perspective: 500px;
    *display: inline;
    *zoom: 1;
}

.cssc-card .front,
.cssc-card .back {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    -webkit-transition: -webkit-transform 0.3s ease;
    -moz-transition: -moz-transform 0.3s ease;
    transition: transform 0.3s ease;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
}

.cssc-card .back {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.cssc-card .front,
.cssc-card:hover .back {
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    transform: rotateY(0);
}

.cssc-card:hover .front {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

/* Theme */

.cssc-card {
    width: 100px;
    height: 100px;
}

.cssc-card .front {
    background-color: #ccc;
}

.cssc-card .back {
    padding: 10px;
    font-size: 12px;
    line-height: 1.3;
    color: #000;
    background-color: #f0f0f0;
}