@charset "UTF-8";

/* ----------------------------------------------------------
  Scroll effects
---------------------------------------------------------- */

.cssc-scroll-effects {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

/* Opacity */

.js .cssc-scroll-effects--opacity {
    opacity: 0;
}

.js .cssc-scroll-effects--opacity[is-active] {
    opacity: 0.9999;
}

/* Slide effects
-------------------------- */

.js .cssc-scroll-effects--slidefromtopleft {
    -webkit-transform: translate3d(-10px,-10px,0);
    -moz-transform: translate3d(-10px,-10px,0);
    transform: translate3d(-10px,-10px,0);
}

.js .cssc-scroll-effects--slidefromtop {
    -webkit-transform: translate3d(0,-10px,0);
    -moz-transform: translate3d(0,-10px,0);
    transform: translate3d(0,-10px,0);
}

.js .cssc-scroll-effects--slidefromtopright {
    -webkit-transform: translate3d(10px,-10px,0);
    -moz-transform: translate3d(10px,-10px,0);
    transform: translate3d(10px,-10px,0);
}

.js .cssc-scroll-effects--slidefromright {
    -webkit-transform: translate3d(10px,0,0);
    -moz-transform: translate3d(10px,0,0);
    transform: translate3d(10px,0,0);
}

.js .cssc-scroll-effects--slidefrombottomright {
    -webkit-transform: translate3d(10px,10px,0);
    -moz-transform: translate3d(10px,10px,0);
    transform: translate3d(10px,10px,0);
}

.js .cssc-scroll-effects--slidefrombottom {
    -webkit-transform: translate3d(0,10px,0);
    -moz-transform: translate3d(0,10px,0);
    transform: translate3d(0,10px,0);
}

.js .cssc-scroll-effects--slidefrombottomleft {
    -webkit-transform: translate3d(-10px,10px,0);
    -moz-transform: translate3d(-10px,10px,0);
    transform: translate3d(-10px,10px,0);
}

.js .cssc-scroll-effects--slidefromleft {
    -webkit-transform: translate3d(-10px,0,0);
    -moz-transform: translate3d(-10px,0,0);
    transform: translate3d(-10px,0,0);
}

.js .cssc-scroll-effects--slidefromtopleft[is-active],
.js .cssc-scroll-effects--slidefromtop[is-active],
.js .cssc-scroll-effects--slidefromtopright[is-active],
.js .cssc-scroll-effects--slidefromright[is-active],
.js .cssc-scroll-effects--slidefrombottomright[is-active],
.js .cssc-scroll-effects--slidefrombottom[is-active],
.js .cssc-scroll-effects--slidefrombottomleft[is-active],
.js .cssc-scroll-effects--slidefromleft[is-active] {
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}