<!--@subject {{var store.getFrontendName()}}: Credit Memo # {{var creditmemo.increment_id}} update @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$order.getCustomerName()":"Customer Name",
"var order.increment_id":"Order Id",
"var order.getStatusLabel()":"Order Status",
"store url=\"customer/account/\"":"Customer Account Url",
"var comment":"Credit Memo Comment",
"var store.getFrontendName()":"Store Name"}
@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

{{block type="core/template" template="email/header.phtml"}}
<h1>Chère/Cher, {{htmlescape var=$order.getCustomerName()}},</h1>
<p>
    Votre commande # {{var order.increment_id}} est
    <strong>{{var order.getStatusLabel()}}</strong>.
</p>
<p>Vous pouvez vérifier l'état de votre commande en <a href="{{store url="customer/account/"}}">vous connectant à votre compte</a>.</p>
<p>{{var comment}}</p>
<p>
    Si vous avez des questions, n'hésitez pas à nous contacter à l'adresse
    <a href="mailto:{{config path='trans_email/ident_support/email'}}">{{config path='trans_email/ident_support/email'}}</a>
    ou par téléphone au {{config path='general/store_information/phone'}}.
</p>
{{block type="core/template" template="email/footer.phtml"}}
