<!--@subject  {{var store.getFrontendName()}}: Invoice # {{var invoice.increment_id}} for Order # {{var order.increment_id}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$order.getCustomerName()":"Customer Name",
"var store.getFrontendName()":"Store Name",
"store url=\"customer/account/\"":"Customer Account Url",
"var invoice.increment_id":"Invoice Id",
"var order.increment_id":"Order Id",
"var order.billing_address.format('html')":"Billing Address",
"var payment_html":"Payment Details",
"var order.shipping_address.format('html')":"Shipping Address",
"var order.shipping_description":"Shipping Description",
"layout area=\"frontend\" handle=\"sales_email_order_invoice_items\" invoice=$invoice order=$order":"Invoice Items Grid",
"var comment":"Invoice Comment"}
@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

{{block type="core/template" template="email/header.phtml"}}
<h1>Bonjour, {{htmlescape var=$order.getCustomerName()}}</h1>
<p>
    Nous vous remercions pour votre commande auprès de {{var store.getFrontendName()}}. Vous pouvez vérifier l'état de votre commande en.
    vous connectant à votre compte <a href="{{store url="customer/account/"}}">Si vous avez des questions au sujet de votre commande, veuillez nous contacter à l'adresse</a>.
    ou nous appeler au <a href="mailto:{{config path='trans_email/ident_support/email'}}">{{config path='trans_email/ident_support/email'}}</a> du lundi au vendredi entre 8h et 17h <span class="nobr">{{config path='general/store_information/phone'}}</span> Votre facture #{{var invoice.increment_id}} pour la commande #{{var order.increment_id}}.
</p>
<h2>Informations de facturation</h2>
<table cellspacing="0" cellpadding="0" border="0" width="650">
    <thead>
        <tr>
            <th align="left" width="325">Mode de paiement:</th>
            <th width="10"></th>
            <th align="left" width="325">Informations d'expédition:</th>
        </tr>
    </thead>
    <tbody>
    <tr>
        <td valign="top">
            {{var order.billing_address.format('html')}}
        </td>
        <td>&nbsp;</td>
        <td valign="top">
            {{var payment_html}}
        </td>
    </tr>
    </tbody>
</table>
<br/>
{{depend order.getIsNotVirtual()}}
<table cellspacing="0" cellpadding="0" border="0" width="100%">
    <thead>
    <tr>
        <th align="left" width="325">Mode d'expédition:</th>
        <th width="10"></th>
        <th align="left" width="325">Merci encore:</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td valign="top">
            {{var order.shipping_address.format('html')}}
            &nbsp;
        </td>
        <td>&nbsp;</td>
        <td valign="top">
            {{var order.shipping_description}}&nbsp;
        </td>
    </tr>
    </tbody>
</table>
<br/>
{{/depend}}
{{layout area="frontend" handle="sales_email_order_invoice_items" invoice=$invoice order=$order}}
<p>{{var comment}}</p>
{{block type="core/template" template="email/footer.phtml"}}
