<!--@subject {{var store.getFrontendName()}}: New Order # {{var order.increment_id}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$order.getBillingAddress().getName()":"Guest Customer Name",
"var store.getFrontendName()":"Store Name",
"var order.increment_id":"Order Id",
"var order.getCreatedAtFormated('long')":"Order Created At (datetime)",
"var order.getBillingAddress().format('html')":"Billing Address",
"var payment_html":"Payment Details",
"var order.getShippingAddress().format('html')":"Shipping Address",
"var order.getShippingDescription()":"Shipping Description",
"layout handle=\"sales_email_order_items\" order=$order":"Order Items Grid",
"var order.getEmailCustomerNote()":"Email Order Note"}
@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

{{block type="core/template" template="email/header.phtml"}}
<h1>Bonjour {{htmlescape var=$order.getBillingAddress().getName()}}</h1>
<p>
    Nous vous remercions pour votre commande auprès de <strong>{{var store.getFrontendName()}}</strong>.
    Vous pouvez vérifier l'état de votre commande en vous connectant à <a href="{{store url="customer/account/"}}">votre compte</a>.
    Si vous avez des questions au sujet de votre commande,
    veuillez nous contacter à l'adresse <a href="mailto:{{config path='trans_email/ident_support/email'}}">{{config path='trans_email/ident_support/email'}}</a>
    ou nous appeler au <span class="nobr">{{config path='general/store_information/phone'}}</span>.
    {{config path='general/store_information/hours'}}
</p>
<p>(enregistrée le {{var order.getCreatedAtFormated('long')}}).</p>
<h2>Informations de facturation</h2>
<table cellspacing="0" cellpadding="0" border="0" width="100%">
    <thead>
    <tr>
        <th align="left" width="50%">Adresse de facturation:</th>
        <th width="10"></th>
        <th align="left" width="50%">Mode de paiement:</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td valign="top">
            {{var order.getBillingAddress().format('html')}}
        </td>
        <td>&nbsp;</td>
        <td valign="top">
            {{var payment_html}}
        </td>
    </tr>
    </tbody>
</table>
<br/>
{{depend order.getIsNotVirtual()}}
<table cellspacing="0" cellpadding="0" border="0" width="100%">
    <thead>
    <tr>
        <th align="left" width="50%">Adresse d'expédition:</th>
        <th width="10"></th>
        <th align="left" width="50%">Méthode d'expédition:</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td valign="top">
            {{var order.getShippingAddress().format('html')}}
            &nbsp;
        </td>
        <td>&nbsp;</td>
        <td valign="top">
            {{var order.getShippingDescription()}}
            &nbsp;
        </td>
    </tr>
    </tbody>
</table>
<br/>
{{/depend}}
{{layout handle="sales_email_order_items" order=$order}}
<p>{{var order.getEmailCustomerNote()}}</p>
{{block type="core/template" template="email/footer.phtml"}}
