<!--@subject {{var store.getFrontendName()}}: Votre commande n°{{var order.increment_id}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$order.getCustomerName()":"Customer Name",
"var store.getFrontendName()":"Store Name",
"store url=\"customer/account/\"":"Customer Account Url",
"var order.increment_id":"Order Id",
"var order.getCreatedAtFormated('long')":"Order Created At (datetime)",
"var order.getBillingAddress().format('html')":"Billing Address",
"var payment_html":"Payment Details",
"var order.getShippingAddress().format('html')":"Shipping Address",
"var order.getShippingDescription()":"Shipping Description",
"layout handle=\"sales_email_order_items\" order=$order":"Order Items Grid",
"var order.getEmailCustomerNote()":"Email Order Note"}
@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

{{block type="core/template" template="email/header.phtml"}}

<h1>Bonjour {{htmlescape var=$order.getCustomerName()}}</h1>
<p>
    Nous vous remercions pour votre commande auprès de {{var store.getFrontendName()}}.
    Une fois votre colis expédié, nous vous enverrons un e-mail avec un lien pour suivre votre commande.
    Vous pouvez vérifier l'état de votre commande en <a href="{{store url="customer/account/"}}">vous connectant à votre compte</a>.
    <br />
    Si vous avez des questions au sujet de votre commande, veuillez nous contacter à l'adresse <a href="mailto:{{config path='trans_email/ident_support/email'}}">{{config path='trans_email/ident_support/email'}}</a>
    ou nous appeler au <span class="nobr">{{config path='general/store_information/phone'}}</span> du lundi au vendredi entre 8h et 17h.
</p>
<p>
    Vous trouverez la confirmation de votre commande ci-dessous. Merci encore de votre confiance.
</p>
<h2>Votre commande #{{var order.increment_id}}. (enregistrée le {{var order.getCreatedAtFormated('long')}}).</h2>
<table cellspacing="0" cellpadding="0" border="0" width="580">
    <thead>
    <tr>
        <th align="left" width="285">Informations d'expédition:</th>
        <th width="10"></th>
        <th align="left" width="285">Méthode de paiement:</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td valign="top">
            {{var order.getBillingAddress().format('html')}}
        </td>
        <td>&nbsp;</td>
        <td valign="top">
            {{var payment_html}}
        </td>
    </tr>
    </tbody>
</table>
<br/>
{{depend order.getIsNotVirtual()}}
<table cellspacing="0" cellpadding="0" border="0" width="580">
    <thead>
    <tr>
        <th align="left" width="285">Informations de facturation:</th>
        <th width="10"></th>
        <th align="left" width="285">Méthode d'expédition:</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td valign="top">
            {{var order.getShippingAddress().format('html')}}
            &nbsp;
        </td>
        <td>&nbsp;</td>
        <td valign="top">
            {{var order.getShippingDescription()}}
            &nbsp;
        </td>
    </tr>
    </tbody>
</table>
<br/>
{{/depend}}
{{layout handle="sales_email_order_items" order=$order}}
<p>{{var order.getEmailCustomerNote()}}</p>
{{block type="core/template" template="email/footer.phtml"}}
