@charset "UTF-8";

/* ----------------------------------------------------------
  Catalog : List
---------------------------------------------------------- */

.ig-products-list {
    z-index: 1;
    position: relative;
    margin-right: -20px;
    font-size: 0;
    background-color: #F6F6F6;
}

.ig-products-list > li {
    display: inline-block;
    width: 200px;
    margin: 0 20px 20px 0;
    font-size: 10px;
    vertical-align: top;
    background-color: #fff;
}

/* ----------------------------------------------------------
  Product
---------------------------------------------------------- */

.product-essential .product-img-box,
.product-essential .product-view {
    float: left;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 40%;
}

.product-essential .product-img-box {
    width: 60%;
    padding-right: 20px;
}

.product-essential:after {
    content: '';
    display: table;
    clear: both;
}

/* Img box
-------------------------- */

.product-img-box {
    z-index: 1;
    position: relative;
}

.product-img-box .more-views {
    z-index: 1;
    position: absolute;
    top: 10px;
    left: 10px;
}