<!--@subject Password Reset Confirmation for {{var customer.name}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/resetpassword/\" _query_id=$customer.id _query_token=$customer.rp_token":"Reset Password URL"}
@-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

{{block type="core/template" template="email/header.phtml"}}
<h1>Cher {{htmlescape var=$customer.name}},</h1>
<p>Vous avez récemment demandé de changer le mot de passe de votre compte.</p>
<p>Si vous avez demandé de changer ce mot de passe, veuillez cliquer sur ce lien pour le réinitialiser: <a href="{{store url="customer/account/resetpassword/" _query_id=$customer.id _query_token=$customer.rp_token}}">{{store url="customer/account/resetpassword/" _query_id=$customer.id _query_token=$customer.rp_token}}</a></p>
<p>Si vous ne parvenez pas à cliquer sur le lien, veuillez copier l'URL et le coller directement dans votre navigateur.</p>
<br />
<p>Si vous n'avez pas formulé cette demande, vous pouvez ignorer ce message et votre mot de passe restera inchangé.</p>
{{block type="core/template" template="email/footer.phtml"}}
