<!--@subject Bienvenue, {{var customer.name}}! @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/\"":"Customer Account Url"}
@-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->
{{block type="core/template" template="email/header.phtml"}}
<h1>Chère/Cher {{htmlescape var=$customer.name}},</h1>
<p>Bienvenue dans {{var store.getFrontendName()}}. Pour vous connecter lorsque vous visitez notre site, il vous suffit de cliquer sur <a href="{{store url="customer/account/"}}">Connexion</a> ou <a href="{{store url="customer/account/"}}">Mon compte</a> en haut de chaque page, puis d'entrer votre adresse e-mail et votre mot de passe.</p>
<p>Lorsque vous vous connectez à votre compte, vous pouvez effectuer les opérations suivantes:</p>
<ul>
    <li>&ndash; – Procéder au paiement plus rapidement lorsque vous faites un achat</li>
    <li>&ndash; – Vérifier l'état des commandes</li>
    <li>&ndash; – Afficher les anciennes commandes</li>
    <li>&ndash; – Modifier les informations sur votre compte</li>
    <li>&ndash; – Changer votre mot de passe</li>
    <li>&ndash; – Enregistrer d'autres adresses (pour l'expédition à plusieurs membres de votre famille et amis&nbsp;!)</li>
</ul>
<p>Si vous avez des questions concernant votre compte ou un autre sujet, n'hésitez pas à nous contacter à l'adresse <a href="mailto:{{config path='trans_email/ident_support/email'}}">{{config path='trans_email/ident_support/email'}}</a> ou par téléphone au {{config path='general/store_information/phone'}}.</p>
{{block type="core/template" template="email/footer.phtml"}}
