<!--@subject Confirmation de compte pour {{var customer.name}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"store url=\"customer/account/\"":"Customer Account Url",
"htmlescape var=$customer.name":"Customer Name",
"var customer.email":"Customer Email",
"store url=\"customer/account/confirm/\" _query_id=$customer.id _query_key=$customer.confirmation _query_back_url=$back_url":"Confirmation Url",
"htmlescape var=$customer.password":"Customer password"}
@-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

{{block type="core/template" template="email/header.phtml"}}
<h1>Chère/Cher {{htmlescape var=$customer.name}},</h1>
<p>Votre e-mail {{var customer.email}} doit être confirmé avant de l'utiliser pour vous connecter à notre magasin.</p>
<p>Pour confirmer l'e-mail et vous connecter instantanément, veuillez utiliser <a href="{{store url="customer/account/confirm/" _query_id=$customer.id _query_key=$customer.confirmation _query_back_url=$back_url}}">ce lien de confirmation</a>. Ce lien n'est valide qu'une seule fois.</p>
<p>
    Utilisez les valeurs suivantes lorsque vous êtes invité(e) à vous connecter:<br/>
    <strong>E-mail:</strong> {{var customer.email}}<br/>
    <strong>Mot de passe:</strong> {{htmlescape var=$customer.password}}<p>
<p>Si vous avez des questions concernant votre compte ou un autre sujet, n'hésitez pas à nous contacter à l'adresse <a href="mailto:{{config path='trans_email/ident_support/email'}}">{{config path='trans_email/ident_support/email'}}</a> ou par téléphone au {{config path='general/store_information/phone'}}.</p>
{{block type="core/template" template="email/footer.phtml"}}
