<!--@subject New password for {{var user.name}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$user.name":"Admin Name",
"htmlescape var=$password":"Admin Password",
"store url=\"adminhtml/system_account/\"":"Admin Account Url"}
@-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

{{block type="core/template" template="email/header.phtml"}}
<h1>Chère/Cher {{htmlescape var=$user.name}},</h1>
<p><strong>Votre nouveau mot de passe est:</strong> {{htmlescape var=$password}}</p>
<p>Vous pouvez changer votre mot de passe à tout moment en vous connectant à <a href="{{store url="adminhtml/system_account/"}}">votre compte</a>.<p>
{{block type="core/template" template="email/footer.phtml"}}
