<!--@subject Confirmation d'inscription à la newsletter @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$customer.name":"Customer Name",
"var subscriber.getConfirmationLink()":"Subscriber Confirmation Url"}
@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

{{block type="core/template" template="email/header.phtml"}}
<h1>Merci de vous être abonné(e) à notre bulletin d'information.</h1>
<p>Pour commencer à recevoir le bulletin d'information, vous devez d'abord confirmer votre abonnement en cliquant sur le lien suivant:<br />
<a href="{{var subscriber.getConfirmationLink()}}">{{var subscriber.getConfirmationLink()}}</a><p>
{{block type="core/template" template="email/footer.phtml"}}
