<!--@subject Welcome, {{var name}} @-->
<!--@vars
{"htmlescape var=$userName":"User name",
"var $applicationName":"Application name",
"var $status":"Token new status"}
@-->

{{block type="core/template" template="email/header.phtml"}}
<p>Bonjour, {{htmlescape var=$userName}}<br /><br />
Votre autorisation de <b>{{htmlescape var=$applicationName}}</b> a été modifiée en <b>{{htmlescape var=$status}}</b> par l'équipe d'administration.</p>
{{block type="core/template" template="email/footer.phtml"}}
