@charset "UTF-8";

/* ----------------------------------------------------------
  Drawer : Submenu, etc
---------------------------------------------------------- */

.wdrw {
    z-index: 2;
    position: relative;
}

.wdrw > a {
    display: block;
    height: 100%;
    line-height: inherit;
}

.wdrw .submenu {
    visibility: hidden;
    z-index: 1;
    position: absolute;
    top: 100%;
    left: 0;
    line-height: 1;
    opacity: 0;
    background-color: #fff;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.wdrw .submenu-r {
    right: 0;
    left: auto;
}

.wdrw:hover {
    z-index: 1000;
}

.wdrw > a:focus + .submenu,
.wdrw:hover .submenu {
    visibility: visible;
    z-index: 999;
    opacity: 1;
}