<!--@subject Password Reset Confirmation for {{var customer.name}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/resetpassword/\" _query_id=$customer.id _query_token=$customer.rp_token":"Reset Password URL"}
@-->

<!--@styles
body,td {  font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

{{block type="core/template" headertitle="" headersubtitle="" template="email/header.phtml"}}

<h1>Estimado {{htmlescape var=$customer.name}},</h1>
<p>Ha habido una solicitud para cambiar la contraseña de su cuenta.</p>
<p>Si solicitó este cambio de contraseña, por favor abra el siguiente enlace para restablecer su contraseña: <a href="{{store url="customer/account/resetpassword/" _query_id=$customer.id _query_token=$customer.rp_token}}">{{store url="customer/account/resetpassword/" _query_id=$customer.id _query_token=$customer.rp_token}}</a></p>
<p>Si el enlace no funciona, por favor copie y pegue la URL en su navegador.</p>
<br />
<p>Si no ha realizado esta petición puede ignorar este mensaje y su contraseña seguirá siendo la misma.</p>

{{block type="core/template" template="email/footer.phtml"}}
