<!--@subject New password for {{var user.name}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$user.name":"Admin Name",
"htmlescape var=$password":"Admin Password",
"store url=\"adminhtml/system_account/\"":"Admin Account Url"}
@-->

<!--@styles
body,td {  font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

{{block type="core/template" headertitle="" headersubtitle="" template="email/header.phtml"}}
<h1>Estimado/a, {{htmlescape var=$user.name}},</h1>
<p><strong>Su nueva contraseña es:</strong> {{htmlescape var=$password}}</p>
<p>Puede cambiar su contraseña en cualquier momento al iniciar sesión en <a href="{{store url="adminhtml/system_account/"}}">su cuenta</a>.<p>

{{block type="core/template" template="email/footer.phtml"}}
