@charset "UTF-8";

/* ----------------------------------------------------------
  Forms
---------------------------------------------------------- */

.checked-box .input-box {
    display: inline-block;
    vertical-align: middle;
}

.fake-inputbox-wrapper {
    vertical-align: -3px;
}

.fake-inputbox-wrapper + label {
    margin-left: 3px;
}